imgs/
save_weights/
recognizer/models/__pycache__/
__pycache__/
raw_data/
/dataset/
tmp/
venv/
runs_with_logger/
words.tgz
.ipynb_checkpoints/
forms/
test_imgs/
profile.svg
target.tar.gz
*.png
*.pickle
*.model
samples.tar.gz
Benchmark/research-seq2seq-HTR/dataset/CharacterDataset
Benchmark/research-seq2seq-HTR/dataset/IAM_REAL
Groundtruth/XML/
Groundtruth/xml.tgz
Benchmark/research-seq2seq-HTR/pred_logs
Benchmark/research-seq2seq-HTR/pred_save_weights_baseline_logs
results_HTR2.txt
results_HTR3.txt
results_HTR4.txt
results_HTR5.txt
results_HTR6.txt
paragraphs/
